/**
 * Float Layout Activity
 **/

* {
    box-sizing: border-box;
    
}

body {
    font-size: 16px;
    line-height: 32px;
    color: #333;
    background-image:url(../images/crossline-lines.png);
}

.footer {
    color: white;
    background: #666666;
    width: 100%;
    height: 80px;
    border: 6px solid #4aaaa5;
    text-align: center;
    clear: both;
    padding-bottom: 50px;
    margin-top: 50px;
    
}
.footer2 {
    background: #fff;
    padding-right: 40px;
    width: 100%;
    height: 77px;
    border: 1px solid black;
    text-align: center;
    clear: both;
    margin-top: -20px;
}
a {
    color: #777777;
    text-decoration: none;
    padding-left: 20px;
}
    #name {
    float: left;
    width: 16%;
    color: #fff;
    background: #30948D;
    font-size: 30px;
    padding: 20px;
    margin-left: 262px;
    border: 2px solid black;
    clear: both;
    overflow: auto;
}
image {
    float: left;
}
#middle {
    height: 33\60px;
    width: 960px;
    color: #777777;
    background: #ffffff;
    text-align: center;
    border: 3px solid black;
    clear: both;
    padding-right: 30px;
    margin-left: 200px;
    margin: 0 auto;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
.links{
    text-align: right;
    color: #808080;
    font-size: 16px;
}
#contact {
    height: 33\60px;
    width: 960px;
    color: #777777;
    background: #ffffff;
    border: 3px solid black;
    clear: both;
    padding-left: 30px;
    margin-left: 200px;
    margin: 0 auto;
    margin-bottom: 200px;
}
.button {
    height: 30px;
    width: 90px;
    background: #30948D;
    margin-bottom: 30px;
    margin-top: 20px;
    color: white;
}
.container {
    position: relative;
    text-align: center;
    color: white;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media (max-width: 980px){
    p {
        font-size: 1.5 rem
    }
    div {
        font-size: 1.5 rem
    }
}
@media (max-width: 768px){
    p {
        font-size: 1.25 rem
    }
    div {
        font-size: 1.25 rem
    }
}
@media (max-width: 640px){
    p {
        font-size: 1 rem
    }
    div {
        font-size: 1 rem
    }
}